$color-bg: #79797949;
$color-key: #30618C;
$color-key-hover: #4d8fc9;
$color-outline: #141A26;
$color-text: #fff;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

.keyboard-aria {
  display: block;
  width: 900px;
  height: 200px;
  margin: 0 auto;
}

.keyboard {
  max-width: 900px;
  padding: 40px;
  margin: 0 auto;
  background-color: $color-bg;
}

.keys-row {
  display: grid;
  grid-gap: 4px;
  margin-top: 4px;
  margin-bottom: 4px;

  &-0 {
    grid-template-columns: repeat(13, 1fr) 2fr;
    grid-template-rows: 50px;

    .key:last-child{
      justify-content: end;
      padding-right: 5px;
    }
  }

  &-1 {
    grid-template-columns: 2fr repeat(13, 1fr);
    grid-template-rows: 50px;

    .key:first-child {
      justify-content: start;
      padding-left: 5px;
    }
  }

  &-2 {
    grid-template-columns: 2.3fr repeat(11, 1fr) 2.3fr;
    grid-template-rows: 50px;

    .key:first-child {
      justify-content: start;
      padding-left: 5px;
    }

    .key:last-child{
      justify-content: end;
      padding-right: 5px;
    }
  }

  &-3 {
    grid-template-columns: 2.5fr repeat(10, 1fr) 2.5fr;
    grid-template-rows: 50px;

    .key:first-child {
      justify-content: start;
      padding-left: 5px;
    }

    .key:last-child{
      justify-content: end;
      padding-right: 5px;
    }
  }

  &-4 {
    grid-template-columns: repeat(2, 1fr) 1.5fr 5fr 1.5fr repeat(4, 1fr);
    grid-template-rows: 50px;

    .key:first-child {
      justify-content: start;
      padding-left: 5px;
    }
  }
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: $color-text;

  cursor: pointer;
  background-color: $color-key;
  border: 2px solid $color-outline;

  transition: 0.2s;

  &:hover{
    background-color: $color-key-hover;
  }

  &--clicked {
    animation-duration: 0.1s;
    animation-name: clicked;
  }
}

.arrows-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .key {
    height: 100%;
  }

  .key:first-child {
    justify-content: center;
    margin-bottom: 2px;
  }
}

@keyframes clicked {
  from {
    transform: scale(1);
  }

  to {
   transform: scale(1.05);
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(85, 85, 85, 0.393);

  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    background-color: $color-outline;

    width: 500px;
    height: 300px;
    border: 2px solid black;
    border-radius: 4px;
  }

  &__list-item {
    color: $color-text;
    max-width: 300px;
  }

  &__btn {
    position: absolute;
    left: -20px;
    top: -20px;
    cursor: pointer;


    width: 20px;
    height: 20px;
    color: $color-text;
    font-size: 26px;
  }

  &--none {
    display: none;
  }
}